{% extends 'base.html' %}

{% block title %}About Us | CodeWithMasood{% endblock title%}

    {% block body %}
        <div class="aboutus-container">
            <div class="aboutus-container-left-div">
                <h2>Masood Khan</h2>
                <img src="static/masood.jpg" width="200px" height="200px" alt="Masood Khan">
                <h3>Software | web developer</h3>
            </div>
            <div class="aboutus-container-right-div">
                <h1>About Us</h1>
                <p>My mission is to teach peaple computer programming languages like c,c++,java,python,javascript,html5,css3 and more!
                    I am a proffessional software developer and a web developer i am very happy in doing my career job with teaching
                    as teaching is the best profession that somebody takes in this world and also had a great reward at the world here
                    after.I am very excited to teach you the best programming languages 2020. And let's get started.
                </p>
            </div>

        </div>
    {% endblock body%}