{% extends 'base.html' %}

{% block title %}CodeWithMasood | Website{% endblock title%}

{% block body %}
<div class="top-content">
    <h1>Welcome To Masood's Official Website.</h1>
</div>
<div class="portfolio">
    <div class="container-box">
        <h1>About Us</h1>
        <p>My mission is to learn and teach coding to those people 
            who really want to learn the amazing and popular programming
            languages which are amazing and are necessary to master to 
            inter into the IIT world and coding industry.
        </p>
        <button class="btn-article" href="/aboutus">Read More!</button>
    </div>
    <div class="container-box">
        <h1>Services</h1>
        <p>My Services are to learn and teach coding to those people 
            who really want to learn the amazing and popular programming
            languages which are amazing and are necessary to master to 
            inter into the IIT world and coding industry.
        </p>
        <button class="btn-article" href="/signupuser">Read More!</button>
    </div>
    <div class="container-box">
        <h1>Contact Us</h1>
        <p>Contact me those people to learn coding and tech those people
            who really want to learn the amazing and popular programming
            languages which are amazing and are necessary to master to 
            inter into the IIT world and coding.
        </p>
        <button class="btn-article" href="contactus">Read More!</button>
    </div>
</div>
{% endblock body%}


